.App-logo {
  height: 25vmin;
  width: 25vmin;
  pointer-events: none;
  margin: 2vw;
}
.Heading{
  margin: 3vw;
}
.App{
background-color: #282c34;

  min-height: 100vh;
}

.App-header {
  
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 2vw;
}
.Projects-header{
color: white;
text-align: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
